{% extends "layout.html" %}

{% block title %}
    Contacts
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th>Birthday</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in user_contacts %}
                <tr>
                    <td><a href="{{ url_for( 'contact', person_id=contact.id) }}"> {{ contact.firstname }} </a></td>
                    <td>{{ contact.lastname }}</td>
                    <td>{{ contact.birthday }}</td>
                </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock %}
